.header {
    position: fixed;
    height: 62px;
    width: 100%;
    padding-right: 5px;
    display: flex;
    align-items: center;
    align-content: flex-end;
    border-bottom: 1px solid $font-color;
    justify-content: flex-end;
    background: white;
    z-index: 2;
    
    &-profile-dropdown {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;

        &-content {
            top: 62px;
            width: 145px;
            position: absolute;
            background: white;
            display: flex;
            flex-flow: column;
            color: $font-color;
        }
         
        &-item {
            display: flex;
            align-items: center;
            padding-left: 5px;
            height: 62px;
            border-bottom: $font-color;
            transition: .4s;
        } 

        &-item:hover {
            background: $gradient;
            color: white;
        }
    }

    &-dropdown {
        height: 50px;
        width: 80px;
        background: black;
        display: flex;
    }

    &-section {
        display: flex;
        align-items: center;
        height: 100%;
        transition: .4s;
        flex-flow: column;
    }

    &-section:hover {
        background: $gradient;
        color: white;
    }
    &-profile-pic {
        border: 1px solid $font-color;
        border-radius: 100%;
        width: 40px;
        height: 80%;
        margin-right: 5px;
    }

    &-item {
        margin-right: 15px;
    }
}