.header {
    position: fixed;
    height: 62px;
    width: 100%;
    padding-right: 5px;
    display: flex;
    align-items: center;
    align-content: flex-end;
    border-bottom: 1px solid $font-color;
    justify-content: flex-end;
    background: white;
    
    &-dropdown {
        height: 50px;
        width: 80px;
        background: black;
    }

    &-section {
        display: flex;
        align-items: center;
    }

    &-section:hover {
        background: $gradient;
        color: white;
    }
    &-profile-pic {
        border: 1px solid $font-color;
        border-radius: 100%;
        width: 40px;
        height: 80%;
        margin-right: 5px;
    }

    &-item {
        margin-right: 15px;
    }
}